<html>

<head>
   <title>Test</title>
   <link rel="stylesheet" type="text/css" href="/main.css" />

   <style type="text/css">
      .x {
         display: inline-block;
      }
   </style>

</head>

<body>
   <p>Submit a file to view its filesize.</p>
   <form action="/get_file_size" method="post" enctype="multipart/form-data">
      <input type="file" name="img">
      <input type="submit">
   </form>
   <script>
      function myFunction() {
         alert(true);
      }
   </script>

</body>

</html>